/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/

.img-fluid {
    max-width: 100%;
}



/*----------------
    TIPOGRAPHY
------------------*/

body{
    font-family: "Edu TAS Beginner", serif;
}

header h1 {
    font-size: 70px;
    padding: 30px;
}



/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*----------------
    HEADER
------------------*/

header{
    height: 150px;
    background-image: url(../img/wall.png);
    text-align: center;
    
}

/*----------------
    MAIN
------------------*/

main{
    background-image: url(../img/cork.png);
    height: 100%;
    padding: 25px;
}

#blogPics{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

.card{
    width: 300px;
    height: 350px;
    padding: 20px;
    background-color: #ffff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
    margin: 25px;
}

.nailPic{
    position: absolute;
    top: -15px;
    left: 135px;
}


/*----------------
    RESPONSIVE
------------------*/


/* Viewport "TABLET" da 768px a infinito */
@media screen and (min-width: 768px) {

    .card{
       max-width: calc((100% - 25px * 4) / 2);
    }    

    header h1 {
        font-size: 90px;
    }



}

/* Viewport "DESKTOP" da 1440px a infinito */
@media screen and (min-width: 1440px) {

    .card{
       max-width: calc((100% - 25px * 6) / 3);
    }    

}