/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/

.img-fluid {
    max-width: 100%;
}



/*----------------
    TIPOGRAPHY
------------------*/

body{
    font-family: "Edu TAS Beginner", serif;
}

header h1 {
    font-size: 70px;
    padding: 30px;
}



/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*----------------
    HEADER
------------------*/

header{
    height: 150px;
    background-image: url(../img/wall.png);
    text-align: center;
    
}

/*----------------
    MAIN
------------------*/

main{
    background-image: url(../img/cork.png);
    height: 100%;
    padding: 25px;
    position: relative;
}

#blogPics{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.card{
    width: 300px;
    height: 350px;
    padding: 20px;
    background-color: #ffff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
    margin: 25px;
}

.card:hover {
    transition: all 0.5s ease;
    transform: rotate(-10deg) scale(1.3);
    z-index: 10;
    
}

.nailPic{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card p {
    padding: 10px;
}

/*----------------
    STILE PER OVERLAY
------------------*/

#overShade{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height:100vh;
    overflow: hidden;
}

.shadow{
    display: none;
   
}

#imgShad{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnShad {
    
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 900;
    background-color: #8b261d;
    color: bisque;
    border: 0px;
    padding: 5px;
    border-radius: 20px;
}

.btnShad:hover {
    background-color: #d15044;
    font-size: 18px;
    transition: 0.5s;
}



/*----------------
    RESPONSIVE
------------------*/


/* Viewport "TABLET" da 768px a infinito */
@media screen and (min-width: 768px) {

    .card{
       max-width: calc((100% - 25px * 4) / 2);
    }    

    header h1 {
        font-size: 90px;
    }



}

/* Viewport "DESKTOP" da 1440px a infinito */
@media screen and (min-width: 1440px) {

    .card{
       max-width: calc((100% - 25px * 6) / 3);
    }    

}